
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       
        @Html.ActionLink("Super Admin Sayfası", "Index", "SuperAdmin")
        <br />
       
        @Html.ActionLink(" Admin Sayfası", "Index", "Admin")

        <br />
       
        @Html.ActionLink(" Employee Sayfası", "Index", "Employee")
    </div>
</body>
</html>
